*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 12vw;
    height: 30vh;
    padding-top: 30px;
}
p,h5,span{
    text-align: center;
    margin-top: 20px;
}
#span1{
    color: blue;
    font-weight: bolder;
}
#span2{
    text-decoration-line: line-through;
    margin-right: 5px;
}
h5{
    margin-top: 20px;
}
.col-sm{
    margin-left: 5px;
}
h1{
   margin-bottom: -100px;
}
h6{
    background-color: blue;
    color: white;
    display: inline-block;
    margin-right: 100px;
    padding: 6px;
    width: 3vw;
    text-align: center;
}
#img3{
    margin-top: -40px;
}
.container-sm{
    margin: 0px auto;
}
.naw{
    width: 20vw;
    height: 10vh;
    margin-left: 920px;
    display: flex;
}
#p5{
    font-size: 40px;
    float: left;
}
.item{
    width: 10vw;
    height: 10vh;
}
body{
    padding: 30px;
}
#i2{
    margin-left:100px;
}
.item5{
    width: 10vw;
    height: 10vh;
}
li{
    list-style-type: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 7px;
}
i{
    font-size: 13px;
    color: rgba(30, 30, 30, 0.642);
}